{% extends 'base.html' %}
{% block content_dir %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">имя файла</th>
                <th scope="col">годен от</th>
                <th scope="col">годен до</th>
            </tr>
            </thead>
            <tbody>
                {% for name, attribs in content_dir.items %}
                    <p>
                    {% if attribs.type == 'File' %}
                            <tr>
                                <th scope="col"><a href={% url "download" name %}></p>{{name}}</a></th>
                                <th scope="col"><label>{{attribs.valid_from}}</label></th>
                                <th scope="col"><label>{{attribs.valid_to}}</label></th>
                            </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
{% endblock %}